

<ion-content scrollY="true">
  <div class="contenedorHorizontal">
    <img src="../../../assets/cfe.png" alt="" class="imagen">
    <label class="etiqueta">Dashboard Ingresos RealTime para CFE Division Sureste</label>
  
  </div>
  
  <div class="contenedorPrincipal">
    
    <div *ngIf="menuOpen || isLargeScreen" class="contenedorBotones">
      
    <ion-button (click)="btnInicio()" expand="block" fill="clear" shape="round">
        Inicio
      </ion-button>
      <ion-button (click)="btnIngresos()" expand="block" fill="clear" shape="round">
        Ingresos
      </ion-button>
      <ion-button (click)="btnZonas()" expand="block" fill="clear" shape="round">
        Zonas
      </ion-button>
    </div>

    <ion-button expand="block" fill="clear" class="menu-hamburguesa" (click)="toggleMenu()" *ngIf="!isLargeScreen">
      <ion-icon name="menu"></ion-icon>
    </ion-button>

    <ion-button expand="block" fill="clear" (click)="openDatePickerModal()">
      {{ selectedDate ? selectedDate.split('T')[0] : 'Seleccionar Fecha' }}
    </ion-button>

  </div>
  
  

  <ion-button (click)="generarPDF()" expand="block" fill="clear" shape="round" class="btnDescargarPdf">
    <ion-icon slot="start" name="download-outline"></ion-icon>
    Descargar PDF
  </ion-button>
  
  <ion-card *ngFor="let chartData of chartDataArray">
    <div class="chart-container" #chartContainer>
      <apx-chart
        *ngIf="chartData.series && chartData.chart && chartData.plotOptions && chartData.dataLabels 
        && chartData.xaxis && chartData.fill"
        [series]="chartData.series"
        [chart]="chartData.chart"
        [dataLabels]="chartData.dataLabels"
        [plotOptions]="chartData.plotOptions"
        [xaxis]="chartData.xaxis"
        [fill]="chartData.fill"
      ></apx-chart>
    </div>
  </ion-card>

</ion-content>

