
.pdf-export {
  
  
.chart-container {
  height: 300px;
  /* Ajusta la altura de las gráficas según tus necesidades */
  margin-bottom: 20px;
  /* Ajusta el espacio entre las gráficas según sea necesario */
}
}

::webkit-scrollbar {
  width: 5px; /* Ancho de la barra de desplazamiento */
}

::webkit-scrollbar-track {
  background: transparent; /* Color de la pista de la barra de desplazamiento */
}

::webkit-scrollbar-thumb {
  background: #8f4e4e; /* Color de la barra de desplazamiento */
  border-radius: 10px; /* Redondeo de la barra de desplazamiento */
}

::webkit-scrollbar-thumb:hover {
  background: #b3b3b3; /* Color de la barra al pasar el mouse */
}

.contenedorHorizontal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  /* Color de fondo ajustado para coincidir con la imagen */
  color: #000000; // Color del texto ajustado para el contraste
  padding: 0.5rem; // Añadido padding para espacio interior
}

.contenedorCard {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000; // Color del texto ajustado para el contraste
  padding: 0.5rem; // Añadido padding para espacio interior
}

.contenedorBotones {
  display: flex;
  width: auto;
  gap: 10px;
  margin-right: 20px;
  /* Ajusta según sea necesario para los botones */
}

.contenedorPrincipal {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #008E5A;
  padding: 2px;
}

.imagen {
  width: auto;
  /* Ajusta el ancho de la imagen a un valor fijo para control */
  height: auto;
  /* Mantiene la proporción de la imagen */
  margin: 0 10px;
  /* Ajusta según sea necesario */
}

.etiqueta {
  flex-grow: 1;
  /* Permite que la etiqueta ocupe todo el espacio restante */
  text-align: right;
  /* Alinea el texto a la derecha */
  margin-right: 10px;
  /* Añade un margen a la derecha */
  font-size: 1.2rem;
  /* Ajusta el tamaño del texto según sea necesario */
}

.menu-hamburguesa {
  background: transparent;
  border: none;
}

.menuOpen .contenedorBotones {
  display: flex; // Muestra los botones cuando el menú está abierto
}

ion-button {
  color: #fff;
  /* Establece el color del texto del botón */
  --background: transparent;
  /* Hace que el fondo del botón sea transparente */
}

ion-button:hover {
  color: #9ABE26;
  /* Establece el color del botón activo */
}

ion-button.active {
  color: #9ABE26;
  /* Establece el color del botón activo */
}

.btnDescargarPdf {
  color: #008E5A;
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: transparent;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btnDescargarPdf:hover::before {
  transform: scaleX(1);
}

.btnDescargarPdfcontent {
  color: #9ABE26;
  position: relative;
  z-index: 1;
}

.btnDescargarPdf::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(82.3deg,
      rgb(255, 255, 255) 10.8%,
      rgb(12, 209, 55) 94.3%);
  transition: all 0.475s;
}

ion-datetime-button {
  color: #008E5A;
}

h3 {
  color: #008E5A;
  text-align: center;
  font-size: 1.9rem;
  font-family: Helvetica LT Std;
}

h4 {
  color: #000000;
  text-align: center;
  font-family: Helvetica LT Std;
  font-size: 1.6rem;
}

.chart-title {
  text-align: center;
  color: #000000;
  font-family: 'Helvetica LT Std';
  font-size: 1.4rem;
}

ion-card {
  border: 0.3rem solid #008E5A;
  /* Define un borde sólido de 1rem de ancho y color negro */
  border-radius: 1rem;
  /* Define el radio de las esquinas para hacerlas redondeadas */
}



@media (max-width: 767px) {

  .menu-hamburguesa {
    display: block;
  }

  .hide-on-mobile {
    display: none; // Asegura que los botones se oculten en móviles
  }

  .contenedorPrincipal {
    flex-direction: column;
    /* Elementos en columna */
  }

  .contenedorBotones {
    flex-direction: column;
    order: 2;
    /* Los botones después de la barra de búsqueda en pantallas pequeñas */
  }

  ion-searchbar {
    order: 1;
    /* Barra de búsqueda en la parte superior en pantallas pequeñas */
    width: 90%;
    /* Ajusta el ancho de la barra de búsqueda */
  }
}