.contenedorHorizontal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff; /* Color de fondo ajustado para coincidir con la imagen */
    color: #000000; // Color del texto ajustado para el contraste
    padding: 0.5rem; // Añadido padding para espacio interior
  }

  .imagen {
    width: auto; /* Ajusta el ancho de la imagen a un valor fijo para control */
    height: auto; /* Mantiene la proporción de la imagen */
    margin:0 10px; /* Ajusta según sea necesario */
  }
  
  .etiqueta {
    flex-grow: 1; /* Permite que la etiqueta ocupe todo el espacio restante */
    text-align: right; /* Alinea el texto a la derecha */
    margin-right: 10px; /* Añade un margen a la derecha */
    font-size: 1.2rem; /* Ajusta el tamaño del texto según sea necesario */
  }

.colorTexto{
  color: #ffffff;
}