<ion-header>
<app-header></app-header>
</ion-header>

<ion-content color="light">

    <ion-grid fixed>
        <ion-row>
            <ion-col size="3">
            <ion-grid>
                <ion-row>
                <ion-col>
                    
                    <ion-table class="textoTabla">
                    <ion-row >
                    <ion-col>Periodo</ion-col>
                    <ion-col>Ingresos</ion-col>
                    </ion-row>

                    <ion-row>
                    <ion-col (click)="verIngresosSemana()" >01 - 07</ion-col>
                    <ion-col><!-- Aquí va el valor correspondiente a Enero --></ion-col>
                    </ion-row>
                    
                    <ion-row>
                    <ion-col (click)="verIngresosSemana()">08 - 15</ion-col>
                    <ion-col><!-- Aquí va el valor correspondiente a Febrero --></ion-col>
                    </ion-row>

                    <ion-row>
                    <ion-col (click)="verIngresosSemana()">16 - 23</ion-col>
                    <ion-col><!-- Aquí va el valor correspondiente a Marzo --></ion-col>
                    </ion-row>

                    <ion-row>
                    <ion-col (click)="verIngresosSemana()">24 - 31</ion-col>
                    <ion-col ><!-- Aquí va el total correspondiente --></ion-col>
                    </ion-row>
                </ion-table>
                
                </ion-col>
            </ion-row>
            </ion-grid>
        </ion-col>
        <ion-col size="9">
            
            <div id="chart">
                <apx-chart
                  [series]="chartOptions.series"
                  [chart]="chartOptions.chart"
                  [plotOptions]="chartOptions.plotOptions"
                  [xaxis]="chartOptions.xaxis"
                  [fill]="chartOptions.fill"
                ></apx-chart>
              </div>
    
        </ion-col>
        </ion-row>
    </ion-grid>
    
    
    

</ion-content>