ion-table {
  width: 100%;
  border-collapse: collapse;
}

ion-col {
  padding: 8px;
  text-align: left;
  cursor: pointer;
}

ion-col {
  background-color: #CAEDE0
}

h1 {
  text-align: center;
  font-family: 'Helvetica LT Std', sans-serif;
}

#chart {
  max-width: 100%;
  margin: 35px auto;
}

.textoTabla {
  color: #000000;
  font-family: Helvetica LT Std;
  text-transform: uppercase;
}

.rectangle33 {
  height: 25px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
  left: 4px;
  top: 2px;
  position: absolute;
}