ion-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  ion-col {
    border: 1px;
    padding: 8px;
    text-align: left;
    cursor: pointer;
  }
  
  ion-col:first-child {
    background-color: #CAEDE0
}
  

.textoTabla{
  color:#000000;
  font-family:Helvetica LT Std;
  text-transform: uppercase;
}