<ion-content color="light">
  <app-header></app-header>

  <ion-grid fixed>
    <ion-row>
        <!-- Tabla -->
        <ion-col size="12" size-lg="3" class="table-col">
          <ion-grid>
            <ion-row class="header-row">
              <ion-col>Mes</ion-col>
              <ion-col>Total</ion-col>
            </ion-row>
            <!-- Repite esta fila para cada mes -->
            <ion-row *ngFor="let month of months" (click)="verIngresosFecha(month)" class="data-row">
              <ion-col>{{ month }}</ion-col>
              <ion-col> {{ 'total' }} </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>

      <!-- Gráfica -->
      <ion-col size="12" size-lg="9" class="chart-col">
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.xaxis"
          [dataLabels]="chartOptions.dataLabels"
          [grid]="chartOptions.grid"
          [stroke]="chartOptions.stroke"
          [title]="chartOptions.title"
        ></apx-chart>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
