/* Estilos para la tabla */
ion-table {
  width: 10%;
  border-collapse: collapse;
}

/* Estilos para las celdas */
ion-col {
  padding: 8px;
  text-align: left;
  cursor: pointer;
  width: auto;
}

/* Estilo para la primera columna */
ion-col{
  background-color: #CAEDE0; /* Color de fondo para la primera columna */
}

/* Estilos para el texto en la tabla */
.textoTabla {
  color: #000000;
  font-family: Helvetica LT Std;
  text-transform: capitalize;
  border-radius: 10px;
}

ion-content{
  position: relative;
}


