#map {
  height: 400px; /* Establece la altura a un valor específico */
  width: 100%;   /* Ocupa el 100% del ancho del contenedor padre */
  margin: auto;  /* Centra el contenedor horizontal y verticalmente */
  display: block; /* Asegura que el contenedor se comporte como bloque */
}
