<ion-content color="light" class="content-wrapper" scrollY="true">
  <app-header></app-header>

  <!--Barra de progreso de meta del dia-->
  <div class="rectangle33">
    <span>Meta del día:</span>
    <ion-progress-bar
      [value]="progress / 100"
      color="secondary"
      class="custom-progress-bar"
    ></ion-progress-bar>
    <div *ngIf="progress < 100" class="progress-text">
      En proceso - {{ progress }}%
    </div>
  </div>

  <!--Componente del mapa-->
  <app-mapa class="map-container"></app-mapa>

  <!--Card de la ultima actualizacion-->
  <ion-grid fixed="">
    <ion-row>
      <ion-col>
        <ion-card mode="ios" class="hora">
          <ion-card-header> Última actualización </ion-card-header>
          <ion-card-content>
            <div>{{ selectedDate | date: 'EEEE' }}</div>
            <div>{{ selectedDate | date: 'dd MMM yyyy' }}</div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--Grafica circular de zona con mas ingresos-->
  <apx-chart
    class="chart-container top-left"
    id="chart"
    *ngIf="chartOptionsmascircular.series && chartOptionsmascircular.chart && chartOptionsmascircular.plotOptions && chartOptionsmascircular.labels 
      && chartOptionsmascircular.fill && chartOptionsmascircular.stroke"
    [series]="chartOptionsmascircular.series"
    [chart]="chartOptionsmascircular.chart"
    [plotOptions]="chartOptionsmascircular.plotOptions"
    [labels]="chartOptionsmascircular.labels"
    [height]="chartOptionsmascircular.chart.height"
    [fill]="chartOptionsmascircular.fill"
    [stroke]="chartOptionsmascircular.stroke"
  >
  </apx-chart>

  <!--Grafica de barras de zonas con mas ingresos-->
  <div
    *ngIf="chartOptions"
    class="chart-container top-right">
      Zonas con mas Ingresos
      <apx-chart
      *ngIf="chartOptions.series && chartOptions.chart && chartOptions.plotOptions && chartOptions.dataLabels && chartOptions.yaxis && chartOptions.xaxis && chartOptions.fill"
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [plotOptions]="chartOptions.plotOptions"
      [dataLabels]="chartOptions.dataLabels"
      [yaxis]="chartOptions.yaxis"
      [xaxis]="chartOptions.xaxis"
      [fill]="chartOptions.fill"
      [height]="chartOptions.chart.height"
    >
    </apx-chart>
  </div>

  <!--Grafica circular de zona con menos ingresos-->
  <apx-chart
    class="chart-container bottom-right"
    id="chart"
    *ngIf="chartOptionsmenoscircular.series && chartOptionsmenoscircular.chart && chartOptionsmenoscircular.plotOptions && chartOptionsmenoscircular.labels 
      && chartOptionsmenoscircular.fill && chartOptionsmenoscircular.stroke"
    [series]="chartOptionsmenoscircular.series"
    [chart]="chartOptionsmenoscircular.chart"
    [plotOptions]="chartOptionsmenoscircular.plotOptions"
    [labels]="chartOptionsmenoscircular.labels"
    [height]="chartOptionsmenoscircular.chart.height"
    [fill]="chartOptionsmenoscircular.fill"
    [stroke]="chartOptionsmenoscircular.stroke"
  >
  </apx-chart>

  <!--Grafica de barras de zonas con menos ingresos-->
  <div
    *ngIf="chartOptionsmenos"
    class="chart-container bottom-left"
    mode="ios"
    id="chart"
  >
        Zonas con menos Ingresos

    <apx-chart
      id="chartSection"
      *ngIf="chartOptionsmenos.series && chartOptionsmenos.chart && chartOptionsmenos.plotOptions && chartOptionsmenos.dataLabels
        && chartOptionsmenos.yaxis && chartOptionsmenos.xaxis && chartOptionsmenos.fill  && chartOptionsmenoscircular.stroke"
      [series]="chartOptionsmenos.series"
      [chart]="chartOptionsmenos.chart"
      [plotOptions]="chartOptionsmenos.plotOptions"
      [dataLabels]="chartOptionsmenos.dataLabels"
      [yaxis]="chartOptionsmenos.yaxis"
      [xaxis]="chartOptionsmenos.xaxis"
      [fill]="chartOptionsmenos.fill"
      [height]="chartOptionsmenos.chart.height"
      [stroke]="chartOptionsmenoscircular.stroke"
    >
    </apx-chart>
  </div>
</ion-content>
