.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 20px 0;
}

.map-container {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart-container {
  width: auto;
  max-width: 800px;
  margin: 20px auto;
  height: auto;
  display: block;
  padding: 16px; 
  box-sizing: border-box; 
  display: block; 
  position: relative;
}

.chart-container-title {
  font-size: 1.2rem; 
  font-family: Helvetica LT Std;
  font-weight: 600; 
  color: #323232;
  text-align: center;
  margin-bottom: 12px; 
}


/* Ajustar elementos flotantes para pantallas pequeñas y medianas */
.top-right,
.bottom-left,
.top-left,
.bottom-right {
  position: absolute;
  background-color: transparent;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

/* Establecer márgenes y posiciones específicos para cada elemento flotante */
.top-right {
  margin-top:5rem;
  top: 4rem;
  bottom: 1rem;
  right: 10px;
}

.bottom-left {
  top: 35rem;
  bottom: 10px;
  left: 10px;
}

.top-left {
  margin-top: 5rem;
  top: 4rem;
  left: 1rem;
  bottom: 1rem;
}

.bottom-right {
  top: 35rem;
  bottom: 10px;
  right: 10px;
}

/* Estilos para contenedores de widgets que podrían ser gráficos o tarjetas de información */
.rectangle33 {
  background-color: transparent;
  max-width: 500px;
  width: 90%; /* Asegúrese de que se ajusten bien en pantallas más pequeñas */
  border-radius: 20px;
  margin: 1rem auto; /* Ajustar margen superior e inferior */
  font-family: Helvetica LT Std;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Simplificar y mejorar la legibilidad del texto de progreso */
.rectangle33 .progress-text {
  font-size: 1rem; /* Aumentar el tamaño de fuente para mejor legibilidad */
  color: #333;
  text-align: center;
  margin-top: 0.5rem;
}

/* Barra de progreso debe ser flexible y adaptarse al contenedor padre */
.custom-progress-bar {
  width: 100%;
  height: 20px; /* Reducir la altura para pantallas más pequeñas */
  border-radius: 15px;
}

/* Ajustes para la tarjeta de la hora */
.hora {
  background-color: #CAEDE0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  align-items: center;
  font-family: 'Helvetica LT Std', sans-serif;
  text-transform: uppercase;
  margin: 20px auto;
  padding: 10px; /* Ajuste de padding para pantallas pequeñas */
  width: 80%; /* Permitir que crezca hasta un 80% en pantallas más pequeñas */
  max-width: 500px;
}

/* Estilos para el footer */
ion-footer {
  color: #008e5a;
  height: auto; /* Cambiar de altura fija a auto para ajustar contenido */
  width: 100%; /* Full width */
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10; /* Reducción del z-index a un valor razonable */
}

/* Estilos de texto general */
h3, span {
  text-align: center;
}


@media only screen and (max-width: 1700px) {
  .map-container {
    width: 39%;
    height: 60%;
    margin: 10px auto; /* Centra el mapa horizontalmente y añade margen vertical */
  }

  .chart-container {
    width: 30%;
    height: 30%; /* Establece el alto de los contenedores de gráficos */
    margin: 10px auto; /* Centra los gráficos horizontalmente y aumenta el margen vertical */
  }

  .top-left, .top-right, .bottom-left, .bottom-right {
    margin-top: 5em; /* Espaciado superior uniforme */
    margin-bottom: 5em; /* Espaciado inferior uniforme */
    margin-left: 1.5rem; /* Reduce el margen izquierdo */
    margin-right: 1.5rem; /* Reduce el margen derecho */
    padding: 0; /* Establece el relleno a 0; 'auto' no es un valor válido para padding */
  }
}

@media only screen and (max-width: 1100px) {
  .map-container {
    box-sizing: border-box; /* Incluye el padding en el ancho total */
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 10px;
  }

  .chart-container {
    box-sizing: border-box; /* Incluye el padding en el ancho total */
    width: 90%; /* Cambiado de 50% a 90% para mantener consistencia y evitar sobreposición */
    margin: 20px auto; /* Centra el contenedor */
  }

  /* Para los elementos flotantes, considera ocultarlos o reposicionarlos en pantallas pequeñas */
  .top-right, .bottom-left, .top-left, .bottom-right {
    position: relative; /* O considera ocultarlos con 'display: none;' si no son esenciales */
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
  }

  .top-left{
    top: 65rem;
    bottom: 3rem;
    position: absolute;
  }

  .top-right{
    top: 85rem;
    bottom: 3rem;
    position: absolute;
  }

  .bottom-right{
    top: 110rem;
    bottom: 3rem;
    position: absolute;
  }

  .bottom-left{
    top: 130rem;
    bottom: 3rem;
    position: absolute;
  }

  /* Ajusta el tamaño del texto para mejorar la legibilidad en dispositivos más pequeños */
  h3, span, .progress-text {
    font-size: 1.2rem; /* O el tamaño que sea adecuado para tu diseño */
  }

  /* Asegúrate de que los contenedores de widgets sean visibles y legibles */
  .rectangle33 {
    width: 90%;
    /* Puedes aumentar el tamaño de la fuente para los textos dentro de estos contenedores si es necesario */
  }

  /* Si la tarjeta de hora es importante, asegúrate de que sea claramente visible */
  .hora {
    width: 95%;
    padding: 15px; /* Un poco más de padding para evitar que el texto toque los bordes */
    margin: 10px auto;
    font-size: 1.2rem;
  }
}
