.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 20px 0;
}

.map-container {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.chart-container {
  width: auto;
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
  position: absolute;
  flex: 2;
}

.top-right,
.bottom-left,
.rectangle33 {
  background-color: transparent;
  border-radius: 10px;
  height: auto;
  width: auto;
  margin: 20px;
  padding: 20px;
}

.top-right {
  margin-top: 6.5rem;
  top: 50px;
  right: 10px;
}

.bottom-left {
  bottom: 10px;
  left: 10px;
}

.top-left {
  margin-top: 6.5rem;
  background-color: transparent;
  top: 30px;
  left: 10px;
}

.bottom-right {
  bottom: 10px;
  right: 10px;
}

.rectangle33 {
  background-color: transparent;
  max-width: 500px;
  width: 90%;
  border-radius: 20px;
  margin: 0 auto 20px;  
  margin-bottom: 5rem;
  font-family: Helvetica LT Std;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rectangle33 .progress-text {
  font-size: 12px;
  color: #333;
  text-align: center;
  margin-top: 5px;
}

.custom-progress-bar {
  width: 100%;
  height: 30px;
  border-radius: 15px;
}

.hora {
  background-color: #CAEDE0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  align-items: center;
  font-family: 'Helvetica LT Std', sans-serif;
  text-transform: uppercase;
  margin: 20px auto;
  padding: 20px; /* Agregado para dar espacio dentro de la tarjeta */
  width: 100%;
  max-width: 500px; /* Límite de ancho para la tarjeta de hora */
}

ion-footer {
  color: #008e5a;
  height: 78px;
  width: 1920px;
}

h3 {
  text-align: center;
  font-family: Helvetica LT Std;
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9999999999999999999999999;
}

span {
  text-align: center;
}



/* Estilos para pantallas de máximo 1600px */
@media only screen and (max-width: 1600px) {

  .chart-container {
    flex-direction: column; /* Cambia a columna para alternar entre gráficos circulares y de barras */
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 95%;
  }

  chart-title {
    text-align: center; /* Centra el título */
    margin-bottom: 10px; /* Espacio debajo del título */
    font-size: 1.2em; /* Tamaño del título */
  }
  
  .chart {
    width: 100%; /* La gráfica usa todo el ancho disponible del contenedor */
  }
  
  .chart-icons {
    position: absolute; /* Posiciona los íconos de manera absoluta dentro del contenedor */
    top: 10px; /* Espacio desde la parte superior del contenedor */
    right: 10px; /* Espacio desde la parte derecha del contenedor */
    /* Agrega estilos para los íconos específicos si es necesario */
  }
  
  /* Estilos para las etiquetas de las barras de la gráfica, si es necesario */
  .bar-label {
    font-size: 0.8em; /* Tamaño de la etiqueta */
    text-align: center; /* Centra el texto de la etiqueta */
  }

  .content-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .map-container {
    margin-top: 20px;
    max-width: 90%;
  }

  .top-right,
  .bottom-left,
  .rectangle33,
  .top-left,
  .bottom-right {
    width: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
  }

  .hora {
    max-width: 95%;
    position: relative;
    align-items: center;
    justify-content: center;
  }

  .top-right {
    top: 30px;
    right: 10px;
  }

  .bottom-left {
    bottom: 10px;
    left: 10px;
  }

  .top-left {
    top: 30px;
    left: 10px;
  }

  .bottom-right {
    bottom: 10px;
    right: 10px;
  }

  .rectangle33 {
    width: 90%;
    margin-bottom: 20px;
  }


}