ion-table {
  width: 0%;
  border-collapse: collapse;
}

ion-col {
  padding: 8px;
  text-align: left;
  cursor: pointer;
}

ion-col:first-child {
  background-color: #CAEDE0;
}

.textoTabla {
  color: #000000;
  font-family: 'Helvetica LT Std', sans-serif; /* Ajustado el formato de la fuente */
  text-transform: uppercase;
  width: 100%;
  height: 50%;
  text-align: center;
}

h2 {
  font-size: 18px;
  margin-bottom: 0;
  color: #c0c0c0; /* Cambiado a código hexadecimal para el color */
}
h1{
  text-align: center;
  text-transform: capitalize;
  font-family:Helvetica LT Std;
}
.rectangle33 {
  height: 25px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
  left: 4px;
  top: 2px;
  position: absolute;
}

label {
  color: #000000;
}

.chart-container {
  width: auto;
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
  position: -ms-page; /* Corregido el valor de la posición */
  flex: 2;
}

.bottom-right {
  position:relative;
  bottom: 10px;
  right: 10px;
}

.top-left {
  background-color: transparent;
  position:  relative;
  top: 30px;
  left: 10px;
}
