
<ion-content color="light" class="content-wrapper">

  <app-header></app-header>

<h1>Zonas</h1>

  <ion-grid fixed>
    <ion-row>
      <!-- Tabla -->
      <ion-col size="12" size-md="6 ">
        <ion-table class="textoTabla">
          <!-- ... (contenido de la tabla) ... -->
          <ion-row>
            <ion-col>Zona</ion-col>
            <ion-col>Meta</ion-col>
          </ion-row>
          <ion-row *ngFor="let zona of zonas">
            <ion-col (click)="verAgencia(zona.name)"> {{ zona.name }} </ion-col>
            <ion-col>
              <ion-progress-bar
              color="secondary"
              class="rectangle33"
              [value]="zona.progress ? zona.progress / 100 : undefined"
              contentLabel="{{ zona.progress ? zona.progress + '%' : 'Sin progreso'}}"
            ></ion-progress-bar>
            
            </ion-col>
          </ion-row>
        </ion-table>
      </ion-col>

      <!-- Gráficas -->
      <ion-col size="12" size-md="6">
        <!-- Gráfica de más ingresos -->
        <apx-chart class="chart-container bottom-right"
          *ngIf="chartOptionsZonamas.series && chartOptionsZonamas.chart && chartOptionsZonamas.plotOptions && chartOptionsZonamas.labels 
          && chartOptionsZonamas.fill && chartOptionsZonamas.stroke"
          [series]="chartOptionsZonamas.series"
          [chart]="chartOptionsZonamas.chart"
          [plotOptions]="chartOptionsZonamas.plotOptions"
          [labels]="chartOptionsZonamas.labels"
          [fill]="chartOptionsZonamas.fill"
          [stroke]="chartOptionsZonamas.stroke"
          style="width: 80%; margin-left: 10%;"
        ></apx-chart>

        <!-- Espacio entre gráficas -->
        <div style="margin-top: 20px;"></div>

        <!-- Gráfica de menos ingresos -->
        <apx-chart class="chart-container top-left"
          *ngIf="chartOptionsZonamenos.series && chartOptionsZonamenos.chart && chartOptionsZonamenos.plotOptions && chartOptionsZonamenos.labels 
          && chartOptionsZonamenos.fill && chartOptionsZonamenos.stroke"
          [series]="chartOptionsZonamenos.series"
          [chart]="chartOptionsZonamenos.chart"
          [plotOptions]="chartOptionsZonamenos.plotOptions"
          [labels]="chartOptionsZonamenos.labels"
          [fill]="chartOptionsZonamenos.fill"
          [stroke]="chartOptionsZonamenos.stroke"
        ></apx-chart>
      </ion-col>
    </ion-row>
  </ion-grid>

  
</ion-content>

<app-footer></app-footer>
