<ion-content color="light">
  <app-header></app-header>

  <div class="page-title">
    <h1>Zona: {{ currentZona }}</h1>
  </div>

  <div class="section-title">
    <h2>Agencias:</h2>
  </div>

  <ion-grid fixed>
    <ion-row>
      <!-- Tabla -->
      <ion-col size="12" size-md="3" class="table-col">
        <ion-grid>
          <ion-row class="textoTabla">
            <ion-col>Zona</ion-col>
            <ion-col>Meta</ion-col>
          </ion-row>
          <ion-row *ngFor="let zona of zonas" class="textoTabla">
            <ion-col>{{ zona.name }}</ion-col>
            <ion-col>
              <div class="progress-container">
                <ion-progress-bar
                  class="custom-progress-bar"
                  color="secondary"
                  [value]="zona.progress ? zona.progress / 100 : 0"
                ></ion-progress-bar>
                <div *ngIf="zona.progress < 100" class="progress-text">
                  En proceso - {{ zona.progress }}%
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>

      <!-- Gráfica -->
      <ion-col size="12" size-md="9" class="chart-col">
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.xaxis"
          [dataLabels]="chartOptions.dataLabels"
          [grid]="chartOptions.grid"
          [stroke]="chartOptions.stroke"
          [title]="chartOptions.title"
        ></apx-chart>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
