<ion-content color="light">
  <app-header></app-header>

  <h1>Zona: {{ currentZona }}</h1>

  <ion-grid fixed>
    <h2>Agencias:</h2>

    <ion-row>
      <!--Grafica-->
      <ion-col
        size="12"
        size-md="9"
        push-md="3"
        style="margin-bottom: 16px; padding-right: 16px"
      >
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.xaxis"
          [dataLabels]="chartOptions.dataLabels"
          [grid]="chartOptions.grid"
          [stroke]="chartOptions.stroke"
          [title]="chartOptions.title"
        ></apx-chart>
      </ion-col>

      <!-- Tabla -->
      <ion-col size="12" size-md="3" pull-md="10">
        <ion-grid>
          <ion-row class="textoTabla">
            <ion-col>Zona</ion-col>
            <ion-col>Meta</ion-col>
          </ion-row>
          <ion-row *ngFor="let zona of zonas" class="textoTabla">
            <ion-col>{{ zona.name }}</ion-col>
            <ion-col>
              <div class="progress-container">
                <ion-progress-bar
                  color="secondary"
                  class="custom-progress-bar"
                  [value]="zona.progress ? zona.progress / 100 : undefined"
                ></ion-progress-bar>
                <div *ngIf="zona.progress < 100" class="progress-text">
                  En proceso - {{ zona.progress }}%
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
